<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fenrir</title>
</head>
<body>
    <p>Welcome to Fenrir!</p>
    
    {% for key, value in env.items() %}
        <p>{{ key }}: {{ value }}</p>
    {% endfor %}
</body>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        text-align: center;
        padding: 50px;
    }
    p {
        font-size: 24px;
        color: #333;
    }
</style>

</html>